In [1]:
import pandas as pd
air25_data = pd.read_csv('cleaned_air4thai.csv')
air25_data

             DATETIMEDATA  PM25  WS  TEMP  RH  WD stationID
0     2023-12-01 00:00:00  32.6   1    30  53  49       02t
1     2023-12-01 01:00:00  40.5   1    30  55  51       02t
2     2023-12-01 02:00:00  33.8   0    29  57   5       02t
3     2023-12-01 03:00:00  33.7   0    29  60  30       02t
4     2023-12-01 04:00:00  36.0   1    28  62  19       02t
...                   ...   ...  ..   ...  ..  ..       ...
8539  2024-02-27 19:00:00  44.8   0     0   1   0       08t
8540  2024-02-27 20:00:00  39.9   0     0   1   0       08t
8541  2024-02-27 21:00:00  38.9   0     0   1   0       08t
8542  2024-02-27 22:00:00  39.0   0     0   1   0       08t
8543  2024-02-27 23:00:00  37.8   0     0   1   0       08t

[8544 rows x 7 columns]

In [4]:
import pandas as pd
from pycaret.regression import *

file_path = 'cleaned_air4thai.csv'
data = pd.read_csv(file_path)

# Remove rows with missing values in the target column
data = data.dropna(subset=['PM25'])

# โปรแกรม Setup ด้วยข้อมูล
regression_setup = setup(data, target='PM25', session_id=123, fold_strategy='timeseries', fold=3, data_split_shuffle=False, fold_shuffle=False)

# เลือกและเทรนโมเดล
best_model = compare_models()

# สร้าง DataFrame สำหรับทำนาย PM25 ล่วงหน้า 7 วัน
predict_data = data.copy()
predict_data['DATETIMEDATA'] = pd.to_datetime(predict_data['DATETIMEDATA']) + pd.DateOffset(days=7)

# ทำนาย PM25 ล่วงหน้า 7 วัน
predictions = predict_model(best_model, data=predict_data)
predictions

,DATETIMEDATA,WS,TEMP,RH,WD,stationID,PM25,prediction_label
0,2023-12-08 00:00:00,1,30,53,49,02t,32.599998,39.878251
1,2023-12-08 01:00:00,1,30,55,51,02t,40.500000,39.878251
2,2023-12-08 02:00:00,0,29,57,5,02t,33.799999,39.847418
3,2023-12-08 03:00:00,0,29,60,30,02t,33.700001,39.847418
4,2023-12-08 04:00:00,1,28,62,19,02t,36.000000,39.481990
...,...,...,...,...,...,...,...,...
8539,2024-03-05 19:00:00,0,0,1,0,08t,44.799999,35.928618
8540,2024-03-05 20:00:00,0,0,1,0,08t,39.900002,35.928618
8541,2024-03-05 21:00:00,0,0,1,0,08t,38.900002,35.928618
8542,2024-03-05 22:00:00,0,0,1,0,08t,39.000000,35.928618
8543,2024-03-05 23:00:00,0,0,1,0,08t,37.799999,35.928618